@font-face {
  font-family: "Rubik";
  src: url("../fonts/");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/");
  font-weight: normal;
  font-style: italic;
}
