@font-face {
    font-family: "Estedad-Black";
    src: url('@/public/fonts/estedad_font/Estedad-Black.ttf');
}

@font-face {
    font-family: "Estedad-Bold";
    src: url('@/public/fonts/estedad_font/Estedad-Bold.ttf');
}

@font-face {
    font-family: "Estedad-ExtraBold";
    src: url('@/public/fonts/estedad_font/Estedad-ExtraBold.ttf');
}

@font-face {
    font-family: "Estedad-ExtraLight";
    src: url('@/public/fonts/estedad_font/Estedad-ExtraLight.ttf');
}

@font-face {
    font-family: "Estedad-Light";
    src: url('@/public/fonts/estedad_font/Estedad-Light.ttf');
}

@font-face {
    font-family: "Estedad-Medium";
    src: url('@/public/fonts/estedad_font/Estedad-Medium.ttf');
}

@font-face {
    font-family: "Estedad-Regular";
    src: url('public/fonts/estedad_font/Estedad-Regular.ttf');
}

@font-face {
    font-family: "Estedad-SemiBold";
    src: url('public/fonts/estedad_font/Estedad-SemiBold.ttf');
}

@font-face {
    font-family: "Estedad-Thin";
    src: url('public/fonts/estedad_font/Estedad-Thin.ttf');
}




